* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  background-color: #f5f5f5;
  font-size: 18px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  padding-top: 66px;
  padding-bottom: 0;
}


/* Container */
.container {
  display: grid;
}


/* Navigation */
.menu {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1.5fr;
  padding: 5px 5px 5px 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.menu .logo {
  font-size: 1.2em;
  font-weight: 400;
}

.logo .h {
  color: rgb(205, 1, 25);
}

.logo .s {
  color: #333;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}


/* Header */
.header {
  display: grid;
  grid-template-areas:
    'hero hero feature-1'
    'hero hero feature-2';
}

.hero {
  grid-area: hero;
  border: 1px solid rgb(223, 223, 223);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.hero-logo>* {
  display: none;
}

.features {
  color: #333;
  display: grid;
  place-content: center;
  text-align: center;
  padding: 0px 40px;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(../img/feature-1.png);
  background-size: cover;
  border: 1px solid rgb(223, 223, 223);
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(../img/feature-2.png);
  background-size: cover;
  border: 1px solid rgb(223, 223, 223);
}

.features .banner {
  font-size: 3em;
  font-weight: 400;
}

.features .item {
  font-size: 1.5em;
  font-weight: 400;
}


/* Brands */
.brands {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.brand {
  background-color: white;
  padding: 3px;
  text-align: center;
}

.brand p {
  font-size: 0.7em;
  color: #333;
}

.brand:hover {
  border: 1px solid #aaa;
}


/* Goods */
.goods {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 7px;
}

.good {
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  text-align: center;
}

.good h4 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 500;
  color: rgb(95, 100, 105);
}

.good p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(235, 75, 45);
  padding-bottom: 15px;
}

.good:hover {
  border: 1px solid #aaa;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.link {
  display: block;
  border-radius: 0 0 5px 5px;
  background-color: rgb(223, 223, 223);
  color: #aaa;
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.link:hover {
  border: 1px solid #aaa;
  border-radius: 0 0 5px 5px;
}

.link h4 {
  font-size: 1em;
  font-weight: 500;
  color: #aaa;
}


/* Short */
.shorts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 7px;
}

.short {
  background-color: white;
  text-align: center;
  padding-top: 5px;
  border-radius: 0 0 5px 5px;
}

.short iframe {
  min-height: 480px;
}

.short h4 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 500;
  color: rgb(95, 100, 105);
}

.short p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(235, 75, 45);
  padding-bottom: 15px;
}


/* Title */
.title-section {
  display: grid;
  grid-template-columns: 1fr;
  color: darkred;
  text-align: center;
  padding: 5px;
  font-family: "Ubuntu Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 800;
  padding-top: 40px;
  padding-bottom: 15px;
}


/* Desktop */
.desktop {
  display: none;
}


/* Icon */
.icon {
  text-align: center;
  color: #aaa;
}

.icon:hover {
  color: rgb(205, 1, 25);
  cursor: pointer;
}

.icon p {
  font-size: 0.6em;
}


/* Modal */
dialog::backdrop {
  background-color: rgba(95, 100, 105, 0.6);
}

.modal {
  padding: 0.3rem;
  margin: auto;
}

.modal:focus {
  border: none;
  outline: 0;
}


/* Form Search */
form {
  display: flex;
}

form input {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  font-size: medium;
  color: #333;
  width: 250px;
  border: none;
  outline: 0;
}


/* Footer */
.fixed-down {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}


/* Responsive Breakpoint */
@media (max-width: 1024px) {}

@media (max-width: 768px) {

  body {
    padding-top: 0;
    padding-bottom: 67px;
  }

  /* Navigation */
  .menu {
    display: none;
  }

  /* Header */
  .hero-logo>* {
    display: block;
    padding: 5px 15px;
    z-index: 99;
  }

  .hero-logo .heading {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    place-items:center;
    gap: 7px;
  }

  .hero-logo .h {
    font-size: 1.2em;
    font-weight: 400;
    color: rgb(205, 1, 25);
  }

  .hero-logo .s {
    font-size: 1.2em;
    font-weight: 400;
    color: #333;
  }


  /* Brand */
  .brand p {
    font-size: 0.5em;
  }

  /* Desktop */
  .desktop {
    display: grid;
    background-color: white;
    padding: 5px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  }
}


@media (max-width: 600px) {

  /* Header */
  .header {
    grid-template-areas:
      'hero'
      'feature-1'
      'feature-2';
  }
}