* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #f5f5f5;
  font-size: 18px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  /* font-family: "Ubuntu Sans", Arial, Helvetica, sans-serif; */
  /* font-family: "Nunito Sans", Arial, Helvetica, sans-serif; */
  /* font-family: "Roboto Flex", Arial, Helvetica, sans-serif; */
  /* font-family: "Poppins", Arial, Helvetica, sans-serif; */
  /* font-family: "Pacifico", cursive; */
  margin: 2px;
}


/* Container */
.container {
  display: grid;
  /* gap: 1px; */
}


/* Navigation */
.menu {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  /* background-image: url(img/title-section.png);
  background-size: cover; */
  background-color: rgb(205, 1, 25);
  box-sizing: border-box;
}

.menu .logo {
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
}

.logo h1 {
  font-family: "Pacifico", cursive;
}

.logo .h {
  color: yellow;
}

.logo .s {
  color: #333;
  text-shadow: 1px 1px 3px white;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  list-style: none;
}

.menu a {
  display: block;
  font-family: "Ubuntu Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: orangered;
  border: 2px solid maroon;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 3px;
  border-radius: 3px;
}

.menu a:hover {
  background-color: maroon;
  border: 2px solid maroon;
}


/* Header */
.header {
  display: grid;
  grid-template-areas:
    'hero hero feature-1'
    'hero hero feature-2';
  gap: 1px;
}

.hero {
  grid-area: hero;
  min-height: 300px;
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  padding-left: 20px;
  border: 1px solid rgb(223, 223, 223);
}

.hero>* {
  display: none;
}

.hero .h {
  color: yellow;
}

.hero .s {
  text-shadow: 1px 1px 3px white;
  color: #333;
}

.features {
  color: #333;
  display: grid;
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(img/feature-1.png);
  background-size: cover;
  border: 1px solid rgb(223, 223, 223);
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(img/feature-2.png);
  background-size: cover;
  border: 1px solid rgb(223, 223, 223);
}

.features .banner {
  font-size: 3em;
  font-weight: 400;
}

.features .item {
  font-size: 1.5em;
  font-weight: 400;
}


/* Brands */
.brands {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 5px;
}

.brand {
  background-color: white;
  padding: 3px;
  text-align: center;
}

.brand p {
  font-size: 0.6em;
}

.brand a {
  text-decoration: none;
  color: #333;
}

.brand:hover {
  border: 1px solid #aaa;
}

/* Title */
.title-section {
  display: grid;
  grid-template-columns: 1fr;
  color: rgb(205, 1, 25);
  text-align: center;
  padding: 5px;
  font-family: "Ubuntu Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 800;
  padding-top: 25px;
  padding-bottom: 10px;
}


/* Goods */
.goods {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 7px;
}

.good {
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  text-align: center;
  /* border: 1px solid rgb(223, 223, 223); */
  padding-bottom: 10px;
}

.good a {
  text-decoration: none;
}

.good h4 {
  /* font-family: "Ubuntu Sans", Arial, Helvetica, sans-serif; */

  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 500;
  color: rgb(95, 100, 105);
  /* text-transform: uppercase; */
}

.good p {
  font-size: 0.8em;
  font-weight: 500;
  color: rgb(235, 75, 45)
}

.good:hover {
  border: 1px solid #aaa;
  border-radius: 0 0 5px 5px;
}

.link {
  background-color: rgb(223, 223, 223);
  color: #aaa;
  place-content: center;
}

.link img {
  width: 100px;
}

.link h4 {
  font-size: 1.2em;
  font-weight: 700;
  color: #333;
}


/* Short */
.shorts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 7px;
  margin-bottom: 10%;
}

.short {
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 15px;
  border-radius: 0 0 5px 5px;
}

.short a {
  text-decoration: none;
}

.short h4 {
  font-family: "Ubuntu Sans", Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(95, 100, 105);
  text-transform: uppercase;
}

.short p {
  font-size: 0.8em;
  font-weight: 500;
  color: rgb(235, 75, 45)
}

.short iframe {
  min-height: 480px;
}

.short:hover {
  border: 1px solid #aaa;
  border-radius: 0 0 5px 5px;
}

.desktop {
  display: none;
}


/* Responsive Breakpoint */
@media (max-width: 1024px) {
  .menu {
    display: none;
  }

  .hero>* {
    display: block;
    padding: 5px 13px;
    margin-bottom: 10px;
  }

  .hero .heading {
    background-color: rgb(205, 1, 25);
    font-family: "Pacifico", cursive;
    font-weight: 400;
  }

  .hero .sub-heading {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: #333;
    text-shadow: 3px 3px 10px yellow;
    font-weight: 800;
    font-size: 0.7em;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

@media (max-width: 768px) {}

@media (max-width: 600px) {
  .header {
    grid-template-areas:
      'hero'
      'feature-1'
      'feature-2';
  }

  /* Desktop */
  .desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;    
  }

  .icon {
    text-align: center;
    box-sizing: border-box;
    color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}