body {
    font-family: Arial, Helvetica, sans-serif;
}

.navigasi li {
    /* background-color: pink; */
    display: inline;

}

.main {
    width: 30%;
    height: 200px;    
    
    overflow: auto;
}